*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header{
    color: red;
    margin: 10px;
}
nav{
    background-color: grey;
    padding: 15px;
    text-align: end;
    margin-left: 10%;
    margin-right: 10%;
    min-width: 80%;
    border: 2px red solid;
}
nav li{
    list-style: none;
    display: inline;
}
nav a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    color: orange;
}
button{
    background-color: lightgrey;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
footer{
    position: absolute;
    color: white;
    bottom: 5px;
    text-align: center;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    border-top: solid 2px red;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: grey;
}
#listado{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    border: 2px solid black;
    border-radius: 10px;
}
